@import "tailwindcss";

@theme {
  --color-costal-50: #a9d6e5;
  --color-costal-100: #89c2d9;
  --color-costal-200: #61a5c2;
  --color-costal-300: #468faf;
  --color-costal-400: #2c7da0;
  --color-costal-500: #2a6f97;
  --color-costal-600: #014f86;
  --color-costal-700: #01497c;
  --color-costal-800: #013a63;
  --color-costal-900: #012a4a;
}

.logo.vite:hover {
  filter: drop-shadow(0 0 2em #747bff);
}

.logo.solid:hover {
  filter: drop-shadow(0 0 2em #2f5d90);
}

select {
  -webkit-appearance: none;
  outline: none;
  appearance: none;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
}

.logo.tauri:hover {
  filter: drop-shadow(0 0 2em #24c8db);
}

.row {
  display: flex;
  justify-content: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}

input,
select,
button {
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

input,
select,
button {
  outline: none;
}

#greet-input {
  margin-right: 5px;
}

@media (prefers-color-scheme: dark) {
  a:hover {
    color: #24c8db;
  }
}
